body{
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fpt.vecteezy.com%2Farte-vetorial%2F2160240-desenho-de-mao-de-um-gato-brincando-de-skate&psig=AOvVaw0whMNPV3yQESDDJrvvbOI7&ust=1678296892409000&source=images&cd=vfe&ved=0CA0QjRxqFwoTCNDh9eStyv0CFQAAAAAdAAAAABAD.jpg);
     background-repeat: no-repeat;  
     background-size: cover;  
     background-attachment:fixed;
}


input[type=number] {
    border-radius: 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc;
    border: 1px solid #000000;
    width: 150px
}

textarea {
    border: 1px solid #000000;
    background: #cccccc;
    width: 150px;
    height: 100px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
}

input[type=number]:hover,
textarea:hover {
    background: #ffffff;
    border: 1px solid #990000;
}

input[type=button] {
    background: #006699;
    color: #ffffff;
}